// Styles

$colours: (
  "primary": #30044e,
  "secondary": #fbb1e1,
  "tertiary": #ffffff,
);

body {
  background-color: map-get($colours, primary) !important;
  font-family: "Manrope", sans-serif !important;
  color: map-get($colours, tertiary) !important;
  min-height: 100vh;
}

header {
  min-height: 140px;
}

.logo-container img {
  max-width: 200px;
}

.hamburger {
  top: 32px;
  right: 13px;
  &-icon {
    color: map-get($colours, tertiary) !important;
    border: map-get($colours, tertiary) !important;
    box-shadow: none !important;
  }
  &-menu {
    top: 80px;
    right: 10px;
    border: 2px solid map-get($colours, secondary);
    border-radius: 10px;
    padding: 10px;
    background-color: map-get($colours, primary) !important;
    z-index: 1000;
  }
}

.log-button {
  width: 100px !important;
}

.nav-item a {
  color: map-get($colours, tertiary) !important;
  font-size: 1.2em;
}

.nav-item a:hover {
  font-style: italic;
}

nav {
  color: white;
}

.listing a {
  text-decoration: none;
  color: map-get($colours, tertiary);
}

.login-link {
  color: map-get($colours, secondary) !important;
}

.login-link:hover {
  font-weight: bolder;
}

.listing a:hover {
  color: map-get($colours, tertiary);
}

.listing img:hover {
  transform: translate(1.1);
}

.modal-content input {
  border: none;
}

.modal-content label {
  color: map-get($colours, primary);
  font-weight: bold;
}

.modal-content a:hover {
  color: map-get($colours, secondary);
  text-decoration: none;
  transform: scale(1.03);
  transition: all ease-in;
}

.listing-img::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: red;
}

.listing-img {
  width: 100%;
}

.slides img {
  height: 100%;
  cursor: pointer;
}

.search-icon {
  background-color: map-get($colours, primary) !important;
  border: none;
  color: map-get($colours, tertiary) !important;
}
.description-input {
  height: 100px !important;
}

.rounded-circle {
  width: 30px;
  height: 30px;
}

.tag-icon {
  color: map-get($colours, primary);
  background-color: map-get($colours, secondary);
  display: inline-block;
  padding: 10px;
  border-radius: 13px;
}

.bids-icon {
  top: 27px;
  left: 17px;
  width: 2.3rem;
  height: 2.3rem;
  color: map-get($colours, primary);
  background-color: map-get($colours, secondary);
}

.profile img {
  width: 80px;
  height: 80px;
}

.search-field {
  width: 100%;
}
.search-input {
  width: 80%;
}
.search-button {
  width: 20%;
}

#display {
  display: none !important;
}

.bids img {
  width: 40px;
  height: 40px;
}

.form-message {
  display: none;
}

svg {
  cursor: pointer;
}

.btn-outline-primary {
  background-color: map-get($colours, secondary) !important;
  color: map-get($colours, primary) !important;
  border-color: map-get($colours, primary) !important;
  width: 190px;
  font-size: 1.2em !important;
  font-weight: 600 !important;
  border-radius: 13px !important;
}
.btn-outline-primary:hover {
  background-color: map-get($colours, primary) !important;
  color: map-get($colours, secondary) !important;
  border-color: map-get($colours, secondary) !important;
}

.btn-outline-secondary {
  background-color: map-get($colours, primary) !important;
  color: map-get($colours, secondary) !important;
  border-color: map-get($colours, secondary) !important;
  width: 190px;
  font-size: 1.2em !important;
  font-weight: 600 !important;
  border-radius: 13px !important;
}

.btn-outline-secondary:hover {
  background-color: map-get($colours, secondary) !important;
  color: map-get($colours, primary) !important;
}

footer {
  min-height: 120px;
  bottom: 0;
}

.footer-logo-container img {
  max-width: 80px;
}

.highlighted {
  color: map-get($colours, secondary);
}

// animation

.appear-animation {
  animation-name: appear-ani;
  position: relative;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear-ani {
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// Media queries

@media (min-width: 768px) {
  .hamburger-menu {
    top: 23px !important;
    right: 93px !important;
    border: none;
  }
  .log-button {
    margin: 0 0 8px 9px !important;
  }
  .hamburger-icon {
    display: none;
  }

  .nav-item a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .listing-container {
    width: 42% !important;
  }
}
