$colours: (
  "primary": #30044e,
  "secondary": #fbb1e1,
  "tertiary": #ffffff,
);

body {
  background-color: map-get($colours, primary) !important;
  font-family: "Manrope", sans-serif !important;
  color: map-get($colours, tertiary) !important;
}

header {
  min-height: 140px;
}

.logo-container img {
  max-width: 200px;
}

.hamburger {
  top: 20px;
  right: 5px;
  &-icon {
    color: map-get($colours, tertiary) !important;
    border: map-get($colours, tertiary) !important;
    box-shadow: none !important;
  }
  &-menu {
    top: 80px;
    right: 10px;
    border: 2px solid map-get($colours, secondary);
    border-radius: 10px;
    padding: 10px;
    background-color: map-get($colours, primary) !important;
    z-index: 1000;
  }
}

.description-input {
  height: 100px !important;
}

.log-button {
  width: 100px !important;
}

.listings-icon {
  top: 16px;
  right: 49px;
  color: map-get($colours, tertiary);
}

.listings-icon:hover {
  text-decoration: none;
  color: map-get($colours, tertiary);
}

.search-icon {
  background-color: map-get($colours, primary) !important;
  border: none;
  color: map-get($colours, tertiary) !important;
}

.nav-item a {
  color: map-get($colours, tertiary) !important;
  font-size: 1.2em;
}

.nav-item a:hover {
  font-style: italic;
}

.hamburger svg {
  min-width: 50px;
}

nav {
  color: white;
}

.listing a {
  text-decoration: none;
  color: map-get($colours, tertiary);
}

.login-link {
  color: map-get($colours, secondary) !important;
}

.login-link:hover {
  font-weight: bolder;
}

.listing a:hover {
  color: map-get($colours, tertiary);
}

.listing img:hover {
  transform: translate(1.1);
}

.modal-content input {
  border: none;
}

.modal-content label {
  color: map-get($colours, primary);
  font-weight: bold;
}

.modal-content a:hover {
  color: map-get($colours, secondary);
  text-decoration: none;
  transform: scale(1.03);
  transition: all ease-in;
}

.listing-img::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: red;
}

.listing-img {
  width: 100%;
}

.slides img {
  height: 100%;
}

.rounded-circle {
  width: 30px;
  height: 30px;
}

.tag-icon {
  color: map-get($colours, primary);
  background-color: map-get($colours, secondary);
  display: inline-block;
  padding: 10px;
  border-radius: 30%;
}

.bids-icon {
  top: 27px;
  left: 17px;
  width: 2.3rem;
  height: 2.3rem;
  color: map-get($colours, primary);
  background-color: map-get($colours, secondary);
}

.profile img {
  width: 80px;
  height: 80px;
}

.search-field {
  width: 100%;
}
.search-input {
  width: 80%;
}
.search-button {
  width: 20%;
}

#display {
  display: none !important;
}

.bids img {
  width: 40px;
  height: 40px;
}

.success-message {
  color: map-get($colours, secondary);
  display: none;
}

svg {
  cursor: pointer;
}

.btn-outline-primary {
  background-color: map-get($colours, secondary) !important;
  color: map-get($colours, primary) !important;
  border-color: map-get($colours, primary) !important;
  width: 190px;
  font-size: 1.2em !important;
  font-weight: 600 !important;
  border-radius: 13px !important;
}
.btn-outline-primary:hover {
  background-color: map-get($colours, primary) !important;
  color: map-get($colours, secondary) !important;
  border-color: map-get($colours, secondary) !important;
}

.btn-outline-secondary {
  background-color: map-get($colours, primary) !important;
  color: map-get($colours, secondary) !important;
  border-color: map-get($colours, secondary) !important;
  width: 190px;
  font-size: 1.2em !important;
  font-weight: 600 !important;
  border-radius: 13px !important;
}

.btn-outline-secondary:hover {
  background-color: map-get($colours, secondary) !important;
  color: map-get($colours, primary) !important;
}

.highlighted {
  color: map-get($colours, secondary);
}

footer {
  min-height: 120px;
  bottom: 0;
}

.copyright p {
  font-size: 0.8em;
}

.footer-logo-container img {
  max-width: 80px;
}

footer ul {
  list-style: none;
}
